# Environment
venv/
.env
# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyc

# IDE / Editor
.vs/
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Flask leftovers
instance/
*.db
*.sqlite3
hms_local.db